// Body
$body-bg: #f8fafc;
$dark-blue: #4380B8;
$light-blue: #31B0D5;
$green: #00CA79;
$red: #D9534F;
// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;