// Body
$green: #00CA79;
$dark-green: rgb(66, 184, 88);
// $light-green2:rgb(69, 189, 91);
$light-green:rgba(80, 215, 105, 1);
$body-bg: #f8fafc;
$dark-blue: #4380B8;
$light-blue: #31B0D5;
$red: #D9534F;
// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;